{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "stage-3"
  ],
  "plugins": ["transform-object-rest-spread"],
  "ignore": [
    "lib/**/*"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react",
        "stage-3",
        "jest"
      ],
      "ignore": [
        "lib/**/*"
      ]
    },
    "build": {
      "ignore": [
        "**/*.test.js"
      ]
    }
  }
}